// header Menu for all pages 

.header-container{
    position: fixed;
    display:flex;
    width: 100%;
    height: 120px;
    box-shadow: 0 2px 12px rgba(0,0,0,.5);
    

    nav{
    display:flex;
    justify-content:flex-end; 
    width: 100%;
    margin-top: 31px;
    //border: 1px solid salmon;
    //margin-left: 100px;
    a{
        margin: 0 61px 0;
        text-decoration: none;
        font-size: 1.5rem;
        color: @white;

        &:hover{
        color: #444B55;
        font-weight: bold;
        
        }

    }
    
   
   

    }
    }
    @media(max-width: 800px){
        nav{
          display: none;
        }
        }

        #luncherHeaderImg {

          width: 298px;
          height: 95px;

          @media @mobile {

            width: 149px;
            height: 47.5px;
            margin: 0 auto;


          }


        }       