@import 'reset.less';
@import 'variables.less';
@import 'mixins.less';
@import 'carousel.less';


html, body {
	height: 100%;
}
 
html {
	display: table;
	margin: 0 auto;
}

body {

	display: table;
	text-align: left;
	align-content: center;
	vertical-align: middle;

}

.header {

    width: 100%;
    background-color: #65BFD2;
    height: 75px;
}

footer {

    width: 100%;
    background-color: #65BFD2;
    height: 75px;
}

 
.container {

    display: flex;
    flex-direction: column;
    width: 900px;

/* @media query */
@media @mobile {

     width: 500px;  
     
     .btm-buttons{
   
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border: 1px solid black;
        width: 80%;
        
        .btn {

            width: 50px;
            
        }

        .btm-text {
        
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        }
       
    } 
     

    }
	
}

.btm-buttons{
   
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;
    
    
   
}

.btn {

    border: 1 solid aquamarine; 

}

.btm-text{
    
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;   
    
    
   
}



.footer {

    width: 100%;
    border-top: 2px dashed silver;
    background: rgb(96, 172, 244);
} 

.btn {

    width: 250px;
    height: 50px;
    
}

p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}