//Order Matters..
@import './carousel.less';
@import './header.less';
@import './variables.less';
@import './mixins.less';
@import './reset.less';
@import '../components/Dropdown/Dropdown.less';
@import './contact.less';
@import './footer.less';
@import 'reset.less';
@import 'variables.less';
@import 'mixins.less';
@import 'mixins.less';

html {

	display: table;
    margin: 0 auto;
}

body {

    display: table;
	text-align: left;    
    margin: auto 0;
    font-family: 'Roboto', sans-serif;
    color: #67696c;
    font-size: .75rem;
    font-weight: 300;
    overflow-x: hidden;
    height: 100%;
    background-color: rgb(209, 235, 245);
    line-height: 2.75;
}

.header-container {

    
    background-color: #65BFD2;
     
}

.container {

    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    background-color: rgb(213, 241, 241);
    border: #67696c 3px solid;
    line-height: 1.4;
/* @media query */
@media @mobile {

     width: 500px;  
     line-height: 1.4;
     .btm-text{
    
        display: flex;
        flex-direction: column;
        margin: 0 auto;
         width: 50%;   
        
        }   

    }
	
}

.btm-text{
    
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 85%;     
    padding: 2px 1px 2px 1px;
    
   
}

p {
    margin: 10px 0;
    padding: 5px;
    line-height: 1.15;
    
}


