.dropdown {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  margin-top:20px;
  background-color: #65BFD2;
  display: none;
   .dropdown-button {
      padding: 15px;

      }
    }
    .dropdown-content {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;  
      margin-top: 40px; //previus 10px
    }
    .dropdown-link {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      font-size: 18px;
      text-decoration: none;

      }
    
    .dropdown-hidden {
      display: none;
    }
  
  @media(max-width: 800px){
    .dropdown{
      display: flex;

    }
    
  }
